@font-face {
    font-family: 'Eloquia Display';
    src: url('../../../public/assets/fonts/Typekiln\ -\ EloquiaDisplay-ExtraBold.otf') format('opentype');
    font-weight: 800;
    /* Extra Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Eloquia Display';
    src: url('../../../public/assets/fonts/Typekiln\ -\ EloquiaText-ExtraLight.otf') format('opentype');
    font-weight: 200;
    /* Extra Light */
    font-style: normal;
}


.CompetitorTrackerTool1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
}

.CompetitorTrackerTool1-title {
    text-align: center;
}

.CompetitorTrackerTool1-Competitor {

    color: #242424;
    font-size: 32px;
    font-family: Eloquia Display;
    font-weight: 400;
    word-wrap: break-word
}

.CompetitorTrackerTool1-black {
    color: #242424;
    font-size: 32px;
    font-family: Eloquia Display;
    font-weight: 400;
    word-wrap: break-word
}

.CompetitorTrackerTool1-Tracker-bold {
    color: #242424;
    font-size: 32px;
    font-family: Eloquia Display;
    font-weight: 600;
    word-wrap: break-word;
    background: linear-gradient(117.96deg, #000080 0%, #5B5858 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.CompetitorTrackerTool1-button {
    width: 303px;
    outline: none;
    border: none;
    padding: 10px;
    background: #0070FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    cursor: pointer;
}

.CompetitorTrackerTool1-select {
    color: white;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

.CompetitorTrackerTool1-subtext {
    color: #0070FF;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}


.CompetitorTrackerTool2-header-left-title {
    margin: 0;
    color: #242424;
    font-size: 32px;
    font-family: Eloquia Display;
    font-weight: 400;
    word-wrap: break-word
}


.CompetitorTrackerTool2-header-left-title span {
    background: linear-gradient(117.96deg, #000080 0%, #5B5858 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.CompetitorTrackerTool2-header-left-text {
    margin: 0;
    color: #777777;
    font-size: 20px;
    font-family: Eloquia Display;
    font-weight: 600;
    word-wrap: break-word
}

.CompetitorTrackerTool2-header-right button {
    padding: 10px;
    background: #0070FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px #0070FF solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    color: white;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
    width: 282px;
}

.CompetitorTrackerTool2-header-right p {
    color: #0070FF;
    font-size: 12px;
    font-family: Lato;
    font-weight: 400;
    word-wrap: break-word;
    margin: 0;
    text-align: center;
}

.CompetitorTrackerTool2-header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.CompetitorTrackerTool2-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 40px auto;
}



.CompetitorTrackerTool2-item {
    width: 435px;
    height: 218px;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    border: 1px #E5E5E5 solid
}

.CompetitorTrackerTool2-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: auto;
    gap: 50px;
}


.CompetitorTrackerTool2-item-left {
    width: 139px;
    height: 139px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9999px;
    margin: auto 0;
}

.CompetitorTrackerTool2-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.CompetitorTrackerTool2-item-right-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.CompetitorTrackerTool2-item-right-socials-left {
    text-align: right;

}

.CompetitorTrackerTool2-item-right-socials-right {
    text-align: left;

}


.CompetitorTrackerTool2-item-right button {
    width: 194px;
    padding: 10px;
    background: #00A4FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px #00A4FF solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    color: white;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
    height: 5px;
}


.CompetitorTrackerTool2-item-right-title {
    margin: 0;
    color: black;
    font-size: 20px;
    font-family: Eloquia Display;
    font-weight: 600;
    word-wrap: break-word
}

.CompetitorTrackerTool2-item-right-socials-left p {
    margin: 0;
    color: black;
    font-size: 20px;
    font-family: Lato;
    font-weight: 300;
    word-wrap: break-word
}

.CompetitorTrackerTool2-item-right-socials-right p {
    color: black;
    font-size: 20px;
    font-family: Eloquia Display;
    font-weight: 600;
    word-wrap: break-word;
    margin: 0;
}

.CompetitorTrackerTool2-item-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.CompetitorTrackerTool2-item-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 41px;
    height: 41px;
    background: #D9D9D9;
    border-radius: 9999px
}

.CompetitorTrackerTool2-item:hover {
    width: calc(435px*1.1);
    height: calc(218px*1.1);
    box-shadow: 0px 0px 10px rgba(0, 164, 255, 0.43);
    cursor: pointer;
}

.CompetitorTrackerTool2-item-last {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CompetitorTrackerTool2-item-last p {
    margin: 0;
    color: #777777;
    font-size: 20px;
    font-family: Eloquia Display;
    font-weight: 600;
    word-wrap: break-word;
    width: 435px;
    text-align: center;
}


.showmore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
    position: absolute;
    bottom: 10px;
    right: 10px;

}

.showmore img {
    width: 19px;
    height: 20px;
}

.showmore p {
    margin: 0;
    color: #E5E5E5;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
}

.CompetitorTrackerTool3-first-section-item-top-title {
    color: black;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
    margin: 0;
}

.CompetitorTrackerTool3-first-section-item-top-text {
    margin: 0;
    color: black;
    font-size: 24px;
    font-family: Lato;
    font-weight: 700;
    word-wrap: break-word
}

.CompetitorTrackerTool3-first-section-item-top {
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0px 4px 7px 4px rgba(229, 229, 229, 0.50);
    border-radius: 14px;
    border: 1px #E5E5E5 solid;
    width: 208px;
    height: 90px;
    justify-content: space-evenly;
    padding: 10px;
}

.CompetitorTrackerTool3-first-section-item-bottom {
    box-shadow: 0px 10px 30px rgba(0, 112, 255, 0.17);
    border-radius: 20px;
    border: 1px #E5E5E5 solid;
    background-color: white;
    width: 452px;
    height: 276px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}

.CompetitorTrackerTool3-first-section-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    gap: 20px;
    margin: auto;
}

.CompetitorTrackerTool3-first-section-item-bottom-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.CompetitorTrackerTool3-first-section-item-bottom-img-container img {
    width: 23px;
    height: 21px;
}

.CompetitorTrackerTool3-first-section-item-bottom-img-container p {
    margin: 0;
    color: black;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: break-word
}

.CompetitorTrackerTool3-first-section-item-bottom-title {
    margin: 0;
    color: #242424;
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 300;
    word-wrap: break-word
}

.CompetitorTrackerTool3-first-section-item-bottom-text {
    margin: 0;
    color: #242424;
    font-size: 16px;
    font-family: Lato;
    font-weight: 500;
    word-wrap: break-word;
    height: 40%;
}



.Trinity-left-sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
}

.Trinity-left-sidebar-bar {
    width: 200px;
    height: 10px;
    border-radius: 14px;
    border: 1px #E5E5E5 solid
}

.Trinity-left-sidebar-title {
    margin: 0;
    color: #242424;
    font-size: 32px;
    font-family: Eloquia Display;
    font-weight: 600;
    word-wrap: break-word;
}

.Trinity-left-sidebar-text {
    margin: 0;
    color: #86868B;
    font-size: 16px;
    font-family: Eloquia Display;
    font-weight: 600;
    word-wrap: break-word;
    width: 60%;

}




.CompetitorTrackerTool3-first-section-item-top {
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0px 4px 7px 4px rgba(229, 229, 229, 0.50);
    border-radius: 14px;
    border: 1px #E5E5E5 solid;
    width: 208px;
    height: 90px;
    justify-content: space-evenly;
    padding: 10px;
}

.CompetitorTrackerTool3-snapshot-container-item {
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0px 4px 7px 4px rgba(229, 229, 229, 0.50);
    border-radius: 14px;
    border: 1px #E5E5E5 solid;
    width: 364px;
    height: 100px;
    justify-content: space-evenly;
    padding: 10px;
}

.CompetitorTrackerTool3-snapshot-container {
    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    border: 1px #E5E5E5 solid;
    width: 826px;
    height: 591px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.CompetitorTrackerTool3-snapshot-container-item-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 364px;
    height: 116px;
    gap: 5px;
}

.CompetitorTrackerTool3-snapshot-container-item-button button {
    padding: 10px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px #0070FF solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    color: #0070FF;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
    width: 235px;
}

.CompetitorTrackerTool3-snapshot-container-item-button p {
    margin: 0;
    color: #0070FF;
    font-size: 12px;
    font-family: Lato;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
}

.CompetitorTrackerTool3-snapshot,
.CompetitorTrackerTool3-Difference {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 120px auto;
    width: 80%;
}

/* Container */
.CompetitorTrackerTool3-Difference-container-item {
    width: 437px;
    height: 287px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    position: relative;
    font-family: Arial, sans-serif;
}

/* Left Section (Circular Placeholder) */
.CompetitorTrackerTool3-Difference-container-item-left {
    width: 140px;
    height: 140px;
    background-color: #ddd;
    border-radius: 50%;
    margin-right: 16px;
}

/* Right Section */
.CompetitorTrackerTool3-Difference-container-item-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 35px;
    height: 100%;
}

/* Date Range */
.CompetitorTrackerTool3-Difference-container-item-right-date-range {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    text-align: right;
    text-align: center;
}

/* Stats Section */
.CompetitorTrackerTool3-Difference-container-item-right-item {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

/* Left Column (Labels) */
.CompetitorTrackerTool3-Difference-container-item-right-item-left p {
    color: black;
    font-size: 20px;
    font-family: Eloquia Display;
    font-weight: 600;
    word-wrap: break-word;
    margin: 0;

}

/* Right Column (Values) */
.CompetitorTrackerTool3-Difference-container-item-right-item-right p {
    color: black;
    font-size: 20px;
    font-family: Eloquia Display;
    font-weight: 600;
    word-wrap: break-word;
    margin: 0;
}

/* Top-Right Circular Icon */


.rectangle-CompetitorTrackerTool3-Difference-container-item-right {
    width: 41px;
    height: 41px;
    background: #D9D9D9;
    border-radius: 9999px
}

.CompetitorTrackerTool3-Difference-container-item-right-top {
    display: flex;
    justify-content: space-between;
}

.CompetitorTrackerTool3-Difference-container-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.CompetitorTrackerTool3-Difference-container-item-right-right {
    gap: 70px;
}


.CompetitorTrackerTool3-Difference-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.CompetitorTrackerTool3-snapshot-container-item-button-blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 364px;
    height: 116px;
    gap: 5px;
}

.CompetitorTrackerTool3-snapshot-container-item-button-blue button {
    padding: 10px;
    background: #0070FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px #0070FF solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    color: white;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
    width: 319px;
}

.CompetitorTrackerTool3-snapshot-container-item-button-blue p {
    margin: 0;
    color: #0070FF;
    font-size: 12px;
    font-family: Lato;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
}


.CompetitorTrackerTool3-Bio-container {
    width: 826px;
    height: 565px;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    border: 1px #E5E5E5 solid
}

.CompetitorTrackerTool3-Bio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px auto;
}

.CompetitorTrackerTool3-Bio-score {
    width: 354px;
    height: 106px;
}


.CompetitorTrackerTool3-Bio-checklist-left p,
.CompetitorTrackerTool3-Bio-checklist-right p {
    margin: 0;
    color: black;
    font-size: 32px;
    font-family: Lato;
    font-weight: 700;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.CompetitorTrackerTool3-Bio-checklist-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.CompetitorTrackerTool3-Bio-checklist {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.CompetitorTrackerTool3-Bio-checklist-container-title {
    color: black;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
    margin: 15px;
}

.CompetitorTrackerTool3-Bio-checklist-container {
    width: 374px;
    height: 381px;
    background: white;
    box-shadow: 0px 4px 7px 4px rgba(229, 229, 229, 0.50);
    border-radius: 14px;
    border: 1px #E5E5E5 solid
}


.CompetitorTrackerTool3-Bio-img-container-brand {
    margin: 0;
    color: black;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: break-word
}


.CompetitorTrackerTool3-Bio-img-container-title {
    margin: 0 5px;
    color: black;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word
}

.CompetitorTrackerTool3-Bio-img-container img {
    width: 23px;
    height: 21px;
}

.CompetitorTrackerTool3-Bio-img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.CompetitorTrackerTool3-Bio-keywords {
    position: relative;
    width: 354px;
    height: 315px;
    background: white;
    box-shadow: 0px 4px 7px 4px rgba(229, 229, 229, 0.50);
    border-radius: 14px;
    border: 1px #E5E5E5 solid;
    padding: 10px;
}

.CompetitorTrackerTool3-Bio-keywords .showmore {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.CompetitorTrackerTool3-Bio-keywords-items p {
    margin: 0px;
    color: black;
    font-size: 32px;
    font-family: Lato;
    font-weight: 700;
    word-wrap: break-word
}


.CompetitorTrackerTool3-Bio-keywords-items {
    margin: 5px;
}


.CompetitorTrackerTool3-Bio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.CompetitorTrackerTool3-snapshot-container-item-button-blue {
    height: 170px;
}

.CompetitorTrackerTool3-Post-container {
    width: 826px;
    height: 511px;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    border: 1px #E5E5E5 solid;
    position: relative;
}

.CompetitorTrackerTool3-Post,
.CompetitorTrackerTool3-Captions,
.CompetitorTrackerTool3-Hashtags {
    display: flex;
    flex-direction: row;
    margin: 50px auto;
    width: 80%;
}

.CompetitorTrackerTool3-Post-container-img {
    top: 10px;
    left: 10px;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.CompetitorTrackerTool3-Post-container-img img {
    width: 23px;
    height: 21px;
}

.CompetitorTrackerTool3-Post-container-img p {
    color: black;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: break-word;
    margin: 0;

}

.CompetitorTrackerTool3-Post-container-items-left p {
    color: black;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
}

.CompetitorTrackerTool3-Post-container-items-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 45px;
    width: 27%;
    text-align: center;
    margin: 100px 20px 0;
}

.CompetitorTrackerTool3-Post-container-items {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 0;
}

.CompetitorTrackerTool3-Post-container-items-right {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 189px;
    padding: 20px;
}


.CompetitorTrackerTool3-Captions-container-item {
    width: 374px;
    height: 126px;

}


.CompetitorTrackerTool3-Captions-container-button {
    height: 143px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.CompetitorTrackerTool3-Captions-container-button button {
    width: 193px;
    padding: 10px;
    background: #00A4FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px #00A4FF solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    color: white;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
}



.CompetitorTrackerTool3-Captions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 826px;
    height: 318px;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    border: 1px #E5E5E5 solid;
    gap: 10px;
}





/* General Mobile Optimization */
@media screen and (max-width: 768px) {
    .CompetitorTrackerTool2-header {
        flex-direction: column;
        width: 90%;
        margin: 20px auto;
        text-align: center;
        gap: 20px;
    }

    .CompetitorTrackerTool2-header-left-title {
        font-size: 24px;
    }

    .CompetitorTrackerTool2-header-left-text {
        font-size: 16px;
    }

    .CompetitorTrackerTool2-header-right button {

        font-size: 14px;
    }

    .CompetitorTrackerTool2-items-container {
        flex-direction: column;
        width: 80%;
        gap: 20px;
        padding: 10px;
    }

    .CompetitorTrackerTool2-item {
        width: 90%;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px;
    }

    .CompetitorTrackerTool2-item-left {
        width: 100px;
        height: 100px;
    }

    .CompetitorTrackerTool2-item-right {
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .CompetitorTrackerTool2-item-right-title {
        font-size: 18px;
    }

    .CompetitorTrackerTool2-item-right-socials {}

    .CompetitorTrackerTool2-item-right-socials-left p,
    .CompetitorTrackerTool2-item-right-socials-right p {
        font-size: 16px;
    }

    .CompetitorTrackerTool2-item-right button {
        width: 100%;
        font-size: 14px;
    }

    .CompetitorTrackerTool2-item-icon {
        width: 30px;
        height: 30px;
        top: 5px;
        right: 5px;
    }

    .CompetitorTrackerTool2-item-last p {
        font-size: 16px;
        width: 90%;
    }

    /* Adjust font sizes and spacing for text-heavy sections */
    .CompetitorTrackerTool3-first-section-item-top-title,
    .CompetitorTrackerTool3-first-section-item-top-text {
        font-size: 14px;
    }

    .CompetitorTrackerTool3-first-section-item {
        width: 100%;
        gap: 10px;
    }

    .CompetitorTrackerTool3-snapshot-container,
    .CompetitorTrackerTool3-Difference-container {
        width: 95%;
        margin: 10px auto;
        height: auto;
    }

    .CompetitorTrackerTool3-Difference-container-item {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .CompetitorTrackerTool3-Difference-container-item-right {
        text-align: center;
        gap: 10px;
    }

    .CompetitorTrackerTool3-Bio-container {
        width: 95%;
        height: auto;
        margin: 10px auto;
    }

    .CompetitorTrackerTool3-Bio-checklist-container {
        width: 100%;
        height: auto;
    }

    .CompetitorTrackerTool3-Post-container,
    .CompetitorTrackerTool3-Captions-container {
        width: 95%;
        height: auto;
        padding: 10px;
    }

    .CompetitorTrackerTool3-Captions-container-button button {
        width: 100%;
    }

    .CompetitorTrackerTool3-Post-container-items-left {
        width: 100%;
        gap: 10px;
        text-align: center;
    }
}




/* Mobile Optimization Styles */
@media (max-width: 768px) {
    .CompetitorTrackerTool3 {
        width: 90%;
        margin: auto;
     }

     .CompetitorTrackerTool3-Post-container-items{
        width: 90%;
        flex-wrap: wrap;
     }

    .CompetitorTrackerTool2-header {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .CompetitorTrackerTool2-header-left-title {
        font-size: 24px;
    }

    .CompetitorTrackerTool2-header-left-text {
        font-size: 16px;
    }

    .CompetitorTrackerTool2-header-right {
        width: 100%;
        align-items: center;
    }

    .CompetitorTrackerTool2-header-right button {
        width: 100%;
        font-size: 14px;
    }

    .CompetitorTrackerTool2-header-right p {
        font-size: 14px;
    }

    .CompetitorTrackerTool3-first-section {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .CompetitorTrackerTool3-first-section-item {
        width: 100%;
        gap: 10px;
    }

    .CompetitorTrackerTool3-first-section-item-top {
        width: 80%;
        gap: 10px;
    }

    .CompetitorTrackerTool3-first-section-item-top-title {
        font-size: 16px;
    }

    .CompetitorTrackerTool3-first-section-item-top-text {
        font-size: 16px;
    }

    .CompetitorTrackerTool3-first-section-item-bottom {
        width: 100%;
        gap: 10px;
    }

    .CompetitorTrackerTool3-first-section-item-bottom-title {
        font-size: 16px;
    }

    .CompetitorTrackerTool3-first-section-item-bottom-text {
        font-size: 16px;
    }

    .CompetitorTrackerTool3-snapshot {
        flex-direction: column;
        gap: 20px;
        margin: 40px 0;
        width: 100%;
    }

    .Trinity-left-sidebar {
        width: auto !important;
        align-items: center;
    }

    .Trinity-left-sidebar-bar {
        width: 100px;
    }

    .Trinity-left-sidebar-title {
        font-size: 24px;
    }

    .Trinity-left-sidebar-text {
        font-size: 16px;
    }

    .CompetitorTrackerTool3-snapshot-container {
        width: 100%;
        gap: 20px;
    }

    .CompetitorTrackerTool3-snapshot-container-item {
        width: 90%;
        gap: 10px;
    }

    .CompetitorTrackerTool3-snapshot-container-item-button {
        width: 100%;
        gap: 10px;
    }

    .CompetitorTrackerTool3-snapshot-container-item-button button {
        width: 100%;
        font-size: 14px;
    }

    .CompetitorTrackerTool3-Difference {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 0px;
        width: 100%;
    }

    .CompetitorTrackerTool3-Difference-container {
        width: 100%;
        gap: 20px;
    }

    .CompetitorTrackerTool3-Difference-container-items {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .CompetitorTrackerTool3-Difference-container-item {
        width: 100%;
        gap: 10px;
    }

    .CompetitorTrackerTool3-Difference-container-item-right {
        gap: 10px;
    }

    .CompetitorTrackerTool3-Bio {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .CompetitorTrackerTool3-Bio-container {
        width: 100%;
        gap: 20px;
    }

    .CompetitorTrackerTool3-Bio-checklist-container {
        width: 90%;
        gap: 10px;
    }

    .CompetitorTrackerTool3-Bio-checklist-container-title {
        font-size: 16px;
    }

    .CompetitorTrackerTool3-Bio-checklist {
        gap: 10px;
    }

    .CompetitorTrackerTool3-Bio-checklist-left p,
    .CompetitorTrackerTool3-Bio-checklist-right p {
        font-size: 25px;
    }
    .CompetitorTrackerTool3-Bio-checklist-right{
        gap: 5px;
    }

    .CompetitorTrackerTool3-Bio-keywords {
        width: 85%;
        gap: 10px;
    }

     

    .CompetitorTrackerTool3-Bio-keywords-items {
        gap: 10px;
    }

    .CompetitorTrackerTool3-Post {
        flex-direction: column;
         gap: 20px;
        width: 100%;
    }

    .CompetitorTrackerTool3-Post-container {
        width: 90%;
        gap: 20px;
    }
    .CompetitorTrackerTool3-Post-container-items-right div{
        width:260px !important;
        height:260px !important;

    }

    .CompetitorTrackerTool3-Post-container-img {
        gap: 10px;
    }

    .CompetitorTrackerTool3-Post-container-img img {
        width: 20px;
        height: 20px;
    }

    .CompetitorTrackerTool3-Post-container-img p {
        font-size: 14px;
    }

    .CompetitorTrackerTool3-Post-container-items-left {
        gap: 10px;
    }

    .CompetitorTrackerTool3-Post-container-items-left p {
        font-size: 14px;
    }

    .CompetitorTrackerTool3-Post-container-items-right {
        gap: 10px;
    }

    .CompetitorTrackerTool3-Captions {
        flex-direction: column;
         gap: 20px;
         width: 100%;
         margin: 0;
    }

    .CompetitorTrackerTool3-Captions-container {
        width: 100%;
        gap: 20px;
    }

    .CompetitorTrackerTool3-Captions-container-item {
        width: 90%;
        gap: 10px;
    }

    .CompetitorTrackerTool3-Captions-container-button button {
        width: 100%;
        font-size: 14px;
    }

    .CompetitorTrackerTool3-Hashtags {
        flex-direction: column;
         gap: 20px;
         width:100%;
         margin: 0;
    }

    .CompetitorTrackerTool3-Hashtags-container {
        width: 100%;
        gap: 20px;
    }

    .CompetitorTrackerTool3-Hashtags-container-item {
        width: 100%;
        gap: 10px;
    }

    .CompetitorTrackerTool3-Hashtags-container-button button {
        width: 100%;
        font-size: 14px;
    }

    .Performia-container-footer {
        width: 90%;
        gap: 20px;
    }

    .Performia-container-footer-header {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .Performia-container-footer-header-title {
        font-size: 22px;
    }

    .Performia-container-footer-header-texte {
        font-size: 16px;
    }

    .Performia-container-footer-header-image-container {
        gap: 10px;
    }

    .Performia-container-footer-header-image-container img {
        width: 20px;
        height: 20px;
    }

    .Performia-container-footer-header-image-container p {
        font-size: 14px;
    }

    .Performia-container-footer-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .Performia-container-footer-content-button {
        width: 100%;
        font-size: 14px;
    }

    .Performia-container-footer-content-text {
        font-size: 14px;
    }


    .CompetitorTrackerTool3-snapshot-container-item-button-blue{
        width: 90% !important;
    }
}