@font-face {
    font-family: 'EloquiaDisplay';
    src: url('../../../public/assets/fonts/Typekiln\ -\ EloquiaDisplay-ExtraBold.otf') format('opentype');
    font-weight: 800;
    /* Extra Bold */
    font-style: normal;
}

@font-face {
    font-family: 'EloquiaDisplay';
    src: url('../../../public/assets/fonts/Typekiln\ -\ EloquiaText-ExtraLight.otf') format('opentype');
    font-weight: 200;
    /* Extra Light */
    font-style: normal;
}


.BillingsPayments-title-left {
    width: 80%;
    margin: 50px auto;

}

.BillingsPayments-title-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.return-button {

    padding: 10px 30px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px #0B66FF solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex
}

.return-button div {
    color: #0B66FF;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
}

.BillingsPayments-title-left-title {
    color: black;
    font-size: 32px;
    font-family: 'EloquiaDisplay';
    font-weight: 600;
    word-wrap: break-word
}

.BillingsPayments-title-left-text {
    color: #777777;
    font-size: 20px;
    font-family: 'EloquiaDisplay';
    font-weight: 600;
    line-height: 18px;
    word-wrap: break-word;
}

.BillingsPayments-container-title {
    color: #6E6E73;
    font-size: 9px;
    font-family: 'EloquiaDisplay';
    font-weight: 500;
    word-wrap: break-word
}

.BillingsPayments-container-socialName {
    color: #242424;
    font-size: 20px;
    font-family: 'EloquiaDisplay';
    font-weight: 500;
    word-wrap: break-word;
    margin: 5px 0;
}

.BillingsPayments-container-link {
    color: #0B66FF;
    font-size: 20px;
    font-family: 'EloquiaDisplay';
    font-weight: 500;
    word-wrap: break-word;
    margin: 5px 0;
}

.BillingsPayments-container-item-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.BillingsPayments-container-item-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.BillingsPayments-container-up,
.BillingsPayments-container-down {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 70px;
}

.BillingsPayments-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 35%;
    margin: 50px auto;
    padding: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    border: 1px #E5E5E5 solid;
    background: rgba(166, 218, 255, 0.15);
    position: relative;

}

.fa-edit-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}


@media(max-width:767px){
    .BillingsPayments-title-left{
        flex-wrap:wrap;
        gap:20px
    }

    .BillingsPayments-container{
        width: auto;
    }

    .BillingsPayments-container-up, .BillingsPayments-container-down{
        gap: 20px;
    }

    .BillingsPayments-container-link,.BillingsPayments-container-socialName{
        font-size: 15px;
    }
}